*{margin: 0; padding: 0; font-family: "Microsoft YaHei UI";}
h1{font-size: 2em;}
body{font-size: 0.8em;
     }
table{width: 100%;margin-left:10px; }
td,tr{display: table-cell;  vertical-align: inherit;}
tr{display: table-row;}
thead{ vertical-align: middle; background-color: #333333;color: white;text-align: center;}
table{    display: table;  border-collapse: separate;  border-spacing: 2px;  border-color: grey; }
table tbody tr, table tbody td{
    border:1px solid #cccccc;}
tfoot{vertical-align: middle;background-color: #cccccc;}